/src/main/webapp/static
src/main/webapp/WEB-INF/tags/generated-css.html
src/main/webapp/WEB-INF/tags/generated-js.html

# Ignore Intellij-generated js and map files from typescript
src/main/static/typescript/**/*.js
src/main/static/typescript/**/*.map
src/test/typescript/**/*.js
src/test/typescript/**/*.map


target/
classes/
bin/
bower_components/
node_modules/
test-output/
typings/

.classpath
.settings
.project

*.iml
*.ipr
*.iws
.idea

rebel.xml

atlassian-ide-plugin.xml

pom.xml.versionsBackup
.DS_Store
temp-testng-customsuite.xml
test-output
.externalToolBuilders
*~
hs_err*
hotspot.log

# Appengine db, etc
WEB-INF/appengine-generated


